body{
    margin: 0;
    padding: 0;
    background-image: url('../admin/image/9211.jpg_wh860.jpg');
    background-size: cover;
  }
  .box{
     width:300px;
     height:300px;
     padding:50px;
     padding-right:100px;
     position: absolute;
     top:50%;
     left:70%;
     transform: translate(-50%,-50%);
    background-color: rgb(10,9,9,0.4);
    text-align: center;
    
  }
  .box h1{
      font-size:50px;
      color:white;
      padding:0px,0px,20px;
      
  }    
  .box img{
         padding:0px;
         margin:0px,40px;
         width:100px;
  }
  table td{
           width:30px;
           padding:20px;
           color:white;
           font-size:20px;
          }
          input[type="submit"],input[type="reset"] {
           width:70px;
           margin:0 25;
           color:black;
           }
    
 