body{
   margin: 0;
   padding: 0;
  
 }
table{
    padding:80px 0px 0px 500px; 
    font-family: Arial, Helvetica, sans-serif;
  
    }
    table th{
          padding-left: 30px;
          font-size:35px;
          background-color:rgb(78, 4, 4);
          color:#f5f5f5;
          
       
       }
    table td{
        background-color:rgb(229, 173, 173);
        width:30px;
        font-size:20px;
       
       }
       input[type="submit"],input[type="reset"] {
        width:70px;
        margin:0 25;
        background-color:rgb(78, 4, 4);
        color:#f5f5f5;
        }
 